<%- model_class = Tank -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @tank.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity_min) %>:</strong></dt>
  <dd><%= @tank.capacity_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity_max) %>:</strong></dt>
  <dd><%= @tank.capacity_max %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tanks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tank_path(@tank), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tank_path(@tank),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
